<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <!-- Product 1 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="assets/image/shirts boys/3.jpeg" style="height: 500px;" class="card-img-top" alt="Product 1">
                <div class="card-body">
                    <h1 class="card-title">shirt</h1>
                    
                    <a class="btn btn-primary" [routerLink]="['/shirt']">
                        <i class="fas fa-cart-plus me-2"></i>
                        shirt
                    </a>
                </div>
            </div>
        </div>
  
        <div class="col-md-4 mb-4">
          <div class="card">
              <img src="assets/image/pant boys/pant6.jpg" style="height: 500px;" class="card-img-top" alt="Product 2">
              <div class="card-body">
                  <h1 class="card-title">pant</h1>
                  
                  <a class="btn btn-primary" [routerLink]="['/pant']">
                      <i class="fas fa-cart-plus me-2"></i>
                      pant
                  </a>
              </div>
          </div>
      </div>
  
      <div class="col-md-4 mb-4">
          <div class="card">
              <img src="assets/image/tshits boys/2.jpeg" style="height: 500px;" class="card-img-top" alt="Product 3">
              <div class="card-body">
                  <h1 class="card-title">tshirt </h1>
                  
                  <a class="btn btn-primary" [routerLink]="['/tshirtsss']">
                      <i class="fas fa-cart-plus me-2"></i>
                      tshirt
                  </a>
              </div>
          </div>
      </div>
  
  
  
  <div class="col-md-4 mb-4">
    <div class="card">
        <img src="assets/image/suit boy/suit3.jpg" style="height: 500px;" class="card-img-top" alt="Product 4">
        <div class="card-body">
            <h1 class="card-title">suit</h1>
            
            <a class="btn btn-primary" [routerLink]="['/suit']">
                <i class="fas fa-cart-plus me-2"></i>
                suit
            </a>
        </div>
    </div>
  </div>
  
  <div class="col-md-4 mb-4">
    <div class="card">
        <img src="assets/image/jogger boys/jgger2.jpg" style="height: 500px;" class="card-img-top" alt="Product 5">
        <div class="card-body">
            <h1 class="card-title">jogger</h1>
           
            <a class="btn btn-primary" [routerLink]="['/jogger']">
                <i class="fas fa-cart-plus me-2"></i>
                jogger
            </a>
        </div>
    </div>
  </div>
  
  <div class="col-md-4 mb-4">
    <div class="card">
        <img src="assets/image/hoodie boys/5.jpeg" style="height: 500px;" class="card-img-top" alt="Product 6">
        <div class="card-body">
            <h1 class="card-title">hoodie</h1>
            
            <a class="btn btn-primary" [routerLink]="['/hoodie']">
                <i class="fas fa-cart-plus me-2"></i>
                hoodie
            </a>
        </div>
    </div>
  </div>
  