<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <!-- Product 1 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="assets/image/jeans girl/5.jpg" style="height: 500px;" class="card-img-top" alt="Product 1">
                <div class="card-body">
                    <br>
                    <h1 class="card-title">jeans</h1>
                   
                    <a class="btn btn-primary" [routerLink]="['/jeanss']">
                        <i class="fas fa-cart-plus me-2"></i>
                        jeans
                    </a>
                </div>
            </div>
        </div>
  
        <div class="col-md-4 mb-4">
          <div class="card">
              <img src="assets/image/tops girls/2.jpg" style="height: 500px;" class="card-img-top" alt="Product 2">
              <div class="card-body">
                <br>
                  <h1 class="card-title">tops</h1>
                  
                  <a class="btn btn-primary" [routerLink]="['/topss']">
                      <i class="fas fa-cart-plus me-2"></i>
                      tops
                  </a>
              </div>
          </div>
      </div>
  
      <div class="col-md-4 mb-4">
          <div class="card">
              <img src="assets/image/kurtis girls/2.jpg" style="height: 500px;" class="card-img-top" alt="Product 3">
              <div class="card-body">
                <br>
                  <h1 class="card-title">kurtis</h1>
                  
                  <a class="btn btn-primary" [routerLink]="['/kurtiss']">
                      <i class="fas fa-cart-plus me-2"></i>
                      kurtis
                  </a>
              </div>
          </div>
      </div>
  
  
  
  <div class="col-md-4 mb-4">
    <div class="card">
        <img src="assets/image/halfsarees girls/4.jpg" style="height: 500px;" class="card-img-top" alt="Product 4">
        <div class="card-body">
            <br>
            <h1 class="card-title">halfsarees</h1>
            
            <a class="btn btn-primary" [routerLink]="['/halfsareess']">
                <i class="fas fa-cart-plus me-2"></i>
                halfsarees
            </a>
        </div>
    </div>
  </div>
  
  <div class="col-md-4 mb-4">
    <div class="card">
        <img src="assets/image/sarees girls/4.jpg" style="height: 500px;" class="card-img-top" alt="Product 5">
        <div class="card-body">
            <br>
            <h1 class="card-title">sarees</h1>
            
            <a class="btn btn-primary" [routerLink]="['/sareess']">
                <i class="fas fa-cart-plus me-2"></i>
                sarees
            </a>
        </div>
    </div>
  </div>
  
  <div class="col-md-4 mb-4">
    <div class="card">
        <img src="assets/image/tshirts girls/2.jpg" style="height: 500px;" class="card-img-top" alt="Product 6">
        <div class="card-body">
            <br>
            <h1 class="card-title">tshirt</h1>
           
            <a class="btn btn-primary" [routerLink]="['/tshirtss']">
                <i class="fas fa-cart-plus me-2"></i>
                tshirt
            </a>
        </div>
    </div>
  </div>
  