<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="assets/image/m s.jpeg"style="height: 500px;" class="card-img-top" alt="Product 1">
                <div class="card-body" style="height: 120px;">
                    <h1 class="card-title">shirts</h1>
                    
                    <a class="btn btn-primary" [routerLink]="['/shirts']">
                        <i class="fas fa-cart-plus me-2"></i>
                        shirts
                    </a>
                </div>
            </div>
        </div>
       

      <div class="col-md-4 mb-4">
        <div class="card">
            <img src="assets/image/m ts.jpeg" style="height: 500px;" class="card-img-top" alt="Product 2">
            <div class="card-body" style="height: 120px;">
                <h1 class="card-title">tshirts</h1>
                
                <a class="btn btn-primary" [routerLink]="['/tshirts']">
                    <i class="fas fa-cart-plus me-2"></i>
                    tshirts
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="assets/image/m p.jpg" style="height: 500px;" class="card-img-top" alt="Product 3">
            <div class="card-body"style="height: 120px;">
                <h1 class="card-title">pants</h1>
                
                <a class="btn btn-primary" [routerLink]="['/pants']">
                    <i class="fas fa-cart-plus me-2"></i>
                    pants
                </a>
            </div>
        </div>
    </div>



<div class="col-md-4 mb-4">
  <div class="card">
      <img src="assets/image/m j.jpeg"style="height: 500px;" class="card-img-top" alt="Product 4">
      <div class="card-body" style="height: 120px;">
          <h1 class="card-title">joggers</h1>
          
          <a class="btn btn-primary" [routerLink]="['/joggers']">
              <i class="fas fa-cart-plus me-2"></i>
              joggers
          </a>
      </div>
  </div>
</div>

<div class="col-md-4 mb-4">
  <div class="card">
      <img src="assets/image/m su.jpeg" style="height: 500px;" class="card-img-top" alt="Product 5">
      <div class="card-body" style="height: 120px;">
          <h1 class="card-title">suits</h1>
          
          <a class="btn btn-primary" [routerLink]="['/suits']">
              <i class="fas fa-cart-plus me-2"></i>
              suits
          </a>
      </div>
  </div>
</div>

<div class="col-md-4 mb-4">
  <div class="card">
      <img src="assets/image/m h.jpeg" style="height: 500px;" class="card-img-top" alt="Product 6">
      <div class="card-body" style="height: 120px;">

          <h1 class="card-title"> hoodies</h1>
          
          <a class="btn btn-primary" [routerLink]="['/hoodies']">
              <i class="fas fa-cart-plus me-2"></i>
              hoodies
          </a>
      </div>
  </div>
</div>




<!-- 
<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="assets/image/m_s.jpeg" class="card-img-top" alt="Product 1">
          <div class="card-body" style="height: 200px;"> 
            <h5 class="card-title">Product 1</h5>
            <p class="card-text">Description of Product 1.</p>
            <a class="btn btn-primary" [routerLink]="['/shirts']">
              <i class="fas fa-cart-plus me-2"></i>
              shirts
            </a>
          </div>
        </div>
      </div>
      </div>
      </div>
      </div>
      </div>
     -->
  
      
  