<!DOCTYPE html>
<html>
<head>
  <title>Razorpay Payment Button Example</title>
</head>
<body>
  <div class="bg-image" style="background-image: url('assets/image/payment.jpg'); background-size: cover; background-position: center; height: 150vh;">
    <div class="payment-container" style="display: flex; justify-content: center; align-items: center; min-height: 100vh;">
      <button (click)="payNow()" style="margin-top: 250px; padding: 10px 20px; background-color: #3498db; border: none; color: #ffffff; font-size: 18px; cursor: pointer; border-radius: 5px;">Pay amount</button>
    </div>
  </div>
</body>
</html>
