<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      <div class="col-md-4 mb-4" *ngFor="let product of products">
        <div class="card h-100">
          <img [src]="product.image" style="height: 500px;" class="card-img-top" alt="{{ product.name }}">
          <div class="card-body" style="height: 200px;">
            <h5 class="card-title text-primary">{{ product.name }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <div class="d-flex justify-content-between align-items-center">
              <a class="btn btn-success" [routerLink]="['/cart']" (click)="addToCart(product)">
                <i class="fas fa-cart-plus me-2"></i>
                Add to Cart
              </a>
              <a class="btn btn-warning" [routerLink]="['/payment']">
                <i class="fas fa-shopping-cart me-2"></i>
                Buy Now
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  