<div class="container">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      <!-- Product 1 -->
      <div class="col-md-4 mb-4">
          <div class="card">
              <img src="assets/image/jeans women/10078.webp"style="height: 500px;" class="card-img-top" alt="Product 1">
              <div class="card-body">
                  <h1 class="card-title">jeans</h1>
                  
                  <a class="btn btn-primary" [routerLink]="['/jeans']">
                      <i class="fas fa-cart-plus me-2"></i>
                      jeans
                  </a>
              </div>
          </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card">
            <img src="assets/image/tops women/4 (2).jpg" style="height: 500px;" class="card-img-top" alt="Product 2">
            <div class="card-body">
                <h1 class="card-title">tops</h1>
               
                <a class="btn btn-primary" [routerLink]="['/tops']">
                    <i class="fas fa-cart-plus me-2"></i>
                  
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="assets/image/kurtis women/3.jpg" style="height: 500px;"  class="card-img-top" alt="Product 3">
            <div class="card-body">
                <h1 class="card-title">kurtis</h1>
                
                <a class="btn btn-primary" [routerLink]="['/kurtis']">
                    <i class="fas fa-cart-plus me-2"></i>
                    kurtis
                </a>
            </div>
        </div>
    </div>



<div class="col-md-4 mb-4">
  <div class="card">
      <img src="assets/image/halfsarees women/6.jpg" style="height: 500px;" class="card-img-top" alt="Product 4">
      <div class="card-body">
          <h1 class="card-title">halfsarees</h1>
        
          <a class="btn btn-primary" [routerLink]="['/halfsarees']">
              <i class="fas fa-cart-plus me-2"></i>
              halfsarees
          </a>
      </div>
  </div>
</div>

<div class="col-md-4 mb-4">
  <div class="card">
      <img src="assets/image/sarees women/4.jpeg" style="height: 500px;" class="card-img-top" alt="Product 5">
      <div class="card-body">
          <h1 class="card-title"> sarees</h1>
          
          <a class="btn btn-primary" [routerLink]="['/sarees']">
              <i class="fas fa-cart-plus me-2"></i>
              sarees
          </a>
      </div>
  </div>
</div>

<div class="col-md-4 mb-4">
  <div class="card">
      <img src="assets/image/tshirts women/4 (1).jpg" style="height: 500px;" class="card-img-top" alt="Product 6">
      <div class="card-body">
          <h1 class="card-title">tshirt</h1>
         
          <a class="btn btn-primary" [routerLink]="['/tshirt']">
              <i class="fas fa-cart-plus me-2"></i>
              tshirt
          </a>
      </div>
  </div>
</div>
